*{
    box-sizing: border-box;
}

.container{
    width:500px;
    height:500px;
    margin:10px;
    border:1px solid black;
    float:left;
    position:relative;
}

.box{
    width:200px;
    height:200px;
}

.innercontainer{
    background-color: #008000;
    position: absolute;
    top:150px;
    left:150px;
}

.topright{
    background-color: #008000;
    position:absolute;
    right:0px;
    top:0px;
}

.topleft{
    background-color: #ca1e1e;
}

.bottomleft{
    background-color: #1b71b8;
    position:absolute;
    bottom:0px;
    left:0px;
}

.bottomright{
    background-color: #a9c132;
    position:absolute;
    bottom:0px;
    right:0px;
}

.innerbox{
    width:100px;
    height:100px;
    background-color: #ffffff;
    top:50px;
    left:50px;
    position: absolute;
}